.card {
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.card-img {
     background-color: #fff;
     border: 1px solid #d0d0d0;
     padding: 0 10px 0 10px;
     margin-right: 10px;
     margin-bottom: 10px;
}

img {
     width: 100px;
     border-radius: 50%;
}

.content {
     display: inline-block;
     border: 1px solid black;
     margin: 10px 0 10px 0;
     padding-left: 10px;
}