.home {
     padding-top: 50px;

     .home__title {
          color: red;
     }

.home-container {
     display: flex;
     gap: 5
     0px;
}

.home-title {
     background-color: #8bbde2;
     line-height: 73.2px;
     font: {
          size: 61px;
          weight: 400px;
     }
     span{
          color: $blue-color;
     }
}

.home-text {
     line-height: 27px;
     opacity: 60%;
     padding: 20px 0;
     font: {
          size: 20px;
          weight: 400px;
     }
}

.shopping {
     display: flex;
     gap: 30px;
     align-items: center;
}

.shopping-text__first {
     font: {
          weight: 500px;
          size: 20px;
     }
}

.shopping-text__second {
     text-decoration: line-through;
     font: {
          weight: 300px;
          size: 14px;
     }
}


     .promotions__img {
          display: flex;
          justify-content: space-around;
          align-items: center;
          gap: 50px;
         
     }


}