@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-Bold.ttf);
}
@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-SemiBold.ttf);
}
@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-Medium.ttf);
}
@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-Light.ttf);
}
@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-ExtraLight.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

ul,
ol {
  list-style: none;
}
ul a,
ol a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}

body {
  width: 1600px;
}

.wrapper {
  background-image: url(/assets/images/cat-background-desktop.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.header {
  padding: 30px 0;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
}
.header .header-container .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .header-container .logo-mobile {
  display: none;
}
.header .header-container ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.header .header-container ul li {
  padding-bottom: 5px;
  margin: 30px 20px 0 0px;
  display: inline-block;
}
.header .header-container ul a {
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Oswald";
}

li:after {
  content: "";
  margin: auto;
  display: block;
  height: 2px;
  width: 0%;
  background-color: transparent;
  transition: all 0.5s ease;
  border-radius: 2px;
  margin-top: 5px;
}

li:hover:after {
  width: 100%;
  background-color: #fff;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .wrapper {
    background-image: none;
  }
  .header {
    padding: 10px 0;
  }
  .header .container {
    max-width: 768px;
    margin: 0;
  }
  .header .header-container {
    display: flex;
    justify-content: space-between;
  }
  .header .header-container .logo {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header .header-container .logo-mobile {
    display: none;
  }
  .header .header-container ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .header .header-container ul li {
    padding-bottom: 5px;
    display: inline-block;
  }
  .header .header-container ul li:hover:after {
    width: 100%;
    background-color: #68b738;
  }
  .header .header-container ul a {
    text-transform: uppercase;
    color: black;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    font-family: "Oswald";
  }
}
.home-container {
  display: flex;
  gap: 50px;
  position: relative;
}
.home-container .home-content {
  margin: 100px 80px;
}
.home-container h1 {
  font-size: 60px;
  font-weight: 600;
  font-line-height: 30px;
  font-family: "Oswald";
}
.home-container h3 {
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  font-line-height: 20px;
  font-family: "Oswald";
}
.home-container button {
  margin-top: 10px;
  padding: 15px 25px;
  border: none;
  outline: none;
  background-color: #68b738;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .home-container {
    display: flex;
    gap: 50px;
    position: relative;
  }
  .home-container .home-content {
    margin: 50px 0px;
  }
  .home-container button {
    margin-top: 10px;
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: #68b738;
    color: #fff;
    text-transform: uppercase;
    z-index: 10;
  }
  .home-container .home-img {
    position: absolute;
    top: 230px;
    left: 150px;
  }
}
.catalog-cards {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 100px;
}
.catalog-cards .catalog-card {
  background-color: #f2f2f2;
  padding: 51px;
}
.catalog-cards .catalog-card__tablet {
  display: none;
}
.catalog-cards .catalog-card__top {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-bottom: 30px;
}
.catalog-cards .catalog-card__top img {
  width: 100px;
  height: 100px;
}
.catalog-cards h3 {
  text-transform: uppercase;
  line-height: 36px;
  font-size: 36px;
  font-weight: 600;
  font-family: "Oswald";
}
.catalog-cards p {
  line-height: 24px;
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  font-font-family: "arial";
}
.catalog-cards button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  gap: 30px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Oswald";
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .catalog-container {
    margin-left: 50px;
    padding: 0;
  }
  .catalog-cards {
    padding-top: 50px;
    margin-top: 250px;
    margin-left: 0;
  }
  .catalog-cards .catalog-cards__tablet {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .catalog-cards .catalog-card__tablet {
    background-color: #f2f2f2;
    padding: 42px;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    gap: 20px;
  }
  .catalog-cards .catalog-card {
    display: none;
  }
  .catalog-cards h3 {
    text-transform: uppercase;
    line-height: 36px;
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
    font-family: "Oswald";
  }
  .catalog-cards p {
    line-height: 24px;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    font-font-family: "arial";
  }
  .catalog-cards button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 30px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Oswald";
  }
  .catalog-right img {
    width: 150px;
  }
}
.instruction {
  padding: 70px 0;
}
.instruction .instruction-title h2 {
  padding-bottom: 70px;
  font-size: 60px;
  font-family: "Oswald";
  font-weight: 600;
}
.instruction .instruction-cards {
  display: flex;
  gap: 100px;
}
.instruction .instruction-cards .instruction-cards__row {
  display: none;
}
.instruction .instruction-cards h2 {
  font-padding-bottom: 50px;
  font-size: 60px;
  font-weigth: 600;
  font-family: "Oswald";
}
.instruction .instruction-cards .instruction-card {
  padding: 5px;
  position: relative;
}
.instruction .instruction-cards img {
  padding-bottom: 40px;
}
.instruction .instruction-cards p {
  line-height: 24px;
  font-size: 16px;
  font-weigth: 400;
}
.instruction .instruction-cards h1 {
  position: absolute;
  opacity: 20%;
  top: 0;
  right: 0;
  font-size: 280px;
  font-weight: 600;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .instruction-container {
    max-width: 768px;
    margin: 0;
  }
  .instruction {
    padding: 70px 0;
  }
  .instruction .instruction-title h2 {
    padding-bottom: 70px;
    font-size: 60px;
    font-family: "Oswald";
    font-weight: 600;
  }
  .instruction .instruction-cards {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    gap: 40px;
  }
  .instruction .instruction-cards h2 {
    font-padding-bottom: 50px;
    font-size: 60px;
    font-weigth: 600;
    font-family: "Oswald";
  }
  .instruction .instruction-cards .instruction-cards__row {
    display: flex;
    justify-content: space-between;
    gap: 120px;
  }
  .instruction .instruction-cards .instruction-card {
    display: none;
  }
  .instruction .instruction-cards .instruction-card2 {
    padding: 40px 20px 10px 0;
    position: relative;
  }
  .instruction .instruction-cards img {
    padding-bottom: 31px;
    width: 80px;
  }
  .instruction .instruction-cards p {
    line-height: 24px;
    font-size: 16px;
    font-weigth: 400;
  }
  .instruction .instruction-cards h1 {
    position: absolute;
    opacity: 20%;
    top: 0;
    right: 0;
    font-size: 280px;
    font-weight: 600;
  }
}
.example-title {
  font-weight: 600;
  font-size: 60px;
  font-family: "Oswald";
  padding-bottom: 70px;
  padding: 50px 0 70px 200px;
}

.example {
  padding-top: 70px;
  background-color: #f2f2f2;
  position: relative;
}
.example .example-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 400px;
}
.example .example-content P {
  margin-bottom: 80px;
  line-height: 24px;
  font-size: 16px;
}
.example .example-content .modules {
  display: flex;
  gap: 50px;
}
.example .example-content .info {
  display: flex;
  gap: 50px;
  margin-top: 70px;
}
.example .example-content .info h4 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Oswald";
  text-transform: uppercase;
}
.example .chart {
  display: flex;
  align-items: center;
  margin-top: 200px;
}
.example .chart p {
  font-size: 20px;
  font-weight: 600;
  font-family: "Oswald";
  text-transform: uppercase;
  margin: 0 30px;
}
.example .chart .line {
  height: 2px;
  border: 2px solid #dcdada;
  width: 180px;
  border-radius: 2px;
}
.example .chart .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.example .chart .comma {
  width: 5px;
  height: 5px;
  background-color: green;
  border-radius: 50%;
}
.example .example-img {
  position: absolute;
  right: 100px;
  top: -200px;
}
.example .example-img2 {
  display: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .example-title {
    font-weight: 600;
    font-size: 60px;
    font-family: "Oswald";
    padding-bottom: 63px;
    padding-left: 30px;
  }
  .example-container {
    position: relative;
  }
  .example-wrapper {
    display: flex;
    flex-direction: column;
  }
  .example-wrapper .chart {
    padding-bottom: 30px;
  }
  .example-img {
    position: absolute;
    bottom: 0px;
    margin-top: 600px;
    left: 0;
  }
}
.map {
  margin-left: 40px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .map {
    margin: 0;
    padding: 0;
  }
  .map img {
    width: 760px;
  }
}
footer {
  padding: 70px;
  background-color: #f2f2f2;
}
footer .footer-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
}
footer .footer-items .footer-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    width: 768px;
  }
  footer footer {
    padding: 50px 30px;
  }
  footer .footer-items {
    display: flex;
    justify-content: space-between;
    gap: 0;
    margin: 0;
  }
  footer .footer-items .footer-icons {
    display: flex;
    gap: 15px;
  }
}/*# sourceMappingURL=main.css.map */